@using Debts.ViewModels
@model DebtViewModel

<h1>@Model.Name</h1>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Долг
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Debts)
        {
                <tr>
                    @if (Model.Name.Equals(item.Member1))
                    {
                    <td>
                        @Html.DisplayFor(modelItem => item.Member2)
                    </td>

                    <td>
                        
                        Тебе должны @Html.DisplayFor(modelItem => item.Money)
                        
                    </td>
                    }
                    else
                    {
                        <td>
                        @Html.DisplayFor(modelItem => item.Member1)
                    </td>

                    <td>

                        Ты должен @Html.DisplayFor(modelItem => item.Money)
                        
                    </td>
                    }
                </tr>
        }
        </tbody>
</table>
